Cython==0.29.21
keyring==21.8.0
lxml==4.6.2
importlib_metadata==2.0.0
scipy==1.5.2
cryptography==3.4.7
numpy==1.19.2
mypy_extensions==0.4.3
brotlipy==0.7.0
zipp==3.4.0
mock==4.0.3
albumentations==1.0.0
brotli==1.0.9
carbontracker==1.1.6
ipaddr==2.2.0
kornia==0.5.4
lockfile==0.12.2
ordereddict==1.1
Pillow==8.2.0
protobuf==3.17.3
pyOpenSSL==20.0.1
scikit_learn==0.24.2
simplejson==3.17.2
torch==1.8.1
torchvision==0.9.1
#wincertstore==0.2.1
